(common_log) {
	log {
		output stdout
		format console {
			time_format "iso8601"
		}
	}
}

(caddy_auth) {
	basic_auth {
		{$USER} {$PASSWORD_HASH}
	}
}

m31.one, www.m31.one {
	abort
}

ocean-mandela.info, ocean.m31.one, ocean.m31.local {
	import common_log
	reverse_proxy ocean-web:3000
}

blog.m31.one, blog.m31.local {
	import common_log
	reverse_proxy blog-web:3000
}

grafana.m31.one, grafana.m31.local {
	import caddy_auth
	reverse_proxy grafana:3000
}

alloy.m31.one, alloy.m31.local {
	import caddy_auth
	reverse_proxy alloy:12345
}
